<form>
  <div class="row">
    <div class="col-6">
      <label for="name">Nome:</label>
      <input type="text" class="form-control" id="name" />
      <div class="form-text error"></div>
    </div>
    <div class="col-2">
      <label for="rg">Rg:</label>
      <input type="text" class="form-control" id="rg" />
      <div class="form-text error"></div>
    </div>
    <div class="col-2">
      <label for="cpf">CPF:</label>
      <input type="text" class="form-control" id="cpf" />
      <div class="form-text error"></div>
    </div>
    <div class="col-2">
      <label for="birthdate">Data Nascimento:</label>
      <input type="text" class="form-control" id="birthdate" />
      <div class="form-text error"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="phone">Telefone:</label>
      <input type="text" class="form-control" id="phone" />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="cpf">Empresa:</label>
      <select class="form-control" id="">
        <option value="">Carrefour</option>
      </select>
      <div class="form-text error"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="street">Rua:</label>
      <input type="text" class="form-control" id="street" />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="number">Número:</label>
      <input type="text" class="form-control" id="number" />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="neighbor">Bairro:</label>
      <input type="text" class="form-control" id="neighbor" />
      <div class="form-text error"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="comp">Complemento:</label>
      <input type="text" class="form-control" id="comp" />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="zip">CEP:</label>
      <input type="text" class="form-control" id="zip" />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="city">Cidade:</label>
      <input type="text" class="form-control" id="city" />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="state">Estado:</label>
      <select class="form-control" id="state">
        <option value=""></option>
      </select>
      <div class="form-text error"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
  </div>
</form>
