<ng-container [formGroup]="clientFormGroup">
  <div class="row">
    <div class="col-6">
      <label for="name">Nome:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
      <div class="form-text error"></div>
    </div>
    <div class="col-2">
      <label for="rg">Rg:</label>
      <input type="text" class="form-control" id="rg" formControlName="rg" />
      <div class="form-text error"></div>
    </div>
    <div class="col-2">
      <label for="cpf">CPF:</label>
      <input type="text" class="form-control" id="cpf" formControlName="cpf" />
      <div class="form-text error"></div>
    </div>
    <div class="col-2">
      <label for="birthdate">Data Nascimento:</label>
      <input
        type="text"
        class="form-control"
        id="birthdate"
        formControlName="birthdate"
      />
      <div class="form-text error"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="phone">Telefone:</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        formControlName="phone"
      />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="email">Email:</label>
      <input
        type="text"
        class="form-control"
        id="email"
        formControlName="email"
      />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="company">Empresa:</label>
      <select class="form-control" id="company" formControlName="company">
        <option value="">Carrefour</option>
      </select>
      <div class="form-text error"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="street">Rua:</label>
      <input
        type="text"
        class="form-control"
        id="street"
        formControlName="street"
      />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="number">Número:</label>
      <input
        type="text"
        class="form-control"
        id="number"
        formControlName="number"
      />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="neighborhood">Bairro:</label>
      <input
        type="text"
        class="form-control"
        id="neighborhood"
        formControlName="neighborhood"
      />
      <div class="form-text error"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="comp">Complemento:</label>
      <input
        type="text"
        class="form-control"
        id="comp"
        formControlName="comp"
      />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="zip">CEP:</label>
      <input type="text" class="form-control" id="zip" formControlName="zip" />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="city">Cidade:</label>
      <input
        type="text"
        class="form-control"
        id="city"
        formControlName="city"
      />
      <div class="form-text error"></div>
    </div>
    <div class="col-3">
      <label for="state">Estado:</label>
      <select class="form-control" id="state" formControlName="state">
        <option value=""></option>
      </select>
      <div class="form-text error"></div>
    </div>
  </div>
</ng-container>
